.panel > .panel-heading {
	text-align: center;
}

.panel-title {
    font-size: 20px;
}

.panel-primary {
    margin-top: 3%;
}

.panel > form {
    margin: 3%;
}

.panel > form > .panel {
    padding: 3%;
}

.form-horizontal .control-label {
    text-align: left;
    padding: 0;
    padding-top: 5px;
}

#values_inputs-colors img {
    vertical-align: baseline !important;
}

#values_inputs-colors label {
    margin-right: 7px;
}