body {
    padding-top: 50px;
}

#menu > .container-fluid {
    padding-right: 20%;
    padding-left: 20%;
}

.panel-primary>.panel-heading {
    background-color: #333;
}

.panel-primary {
    border-color: #333;
}

.btn-primary {
    background-color: #333;
    border-color: #333;
}
