.popover-wrapper {
    position: relative;
}

.popover-wrapper a {
    color: black;
    cursor: pointer;
}

.popover-main-container {
    position: absolute;

    background-color: whitesmoke;

    border: 1px solid darkgrey;
    border-radius: 5px;

    z-index: 10;

    padding: 10px;
}

.popover-buttons {
    min-width: 100px;
}

.popover-buttons button {
    margin: 3px;
}

.editable {
    cursor: pointer;
}