.popover-wrapper {
    position: relative;
}

.popover-wrapper a {
    color: black;
    cursor: pointer;
}

.popover-main-container {
    position: absolute;
    z-index: 10;
    background-color: whitesmoke;
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 7px 10px 4px 10px;
}

.popover-buttons {
    display: inline-block;
    margin-top: 7px;
    float: right;
}

.popover-buttons button {
    margin: 0px 0px 3px 3px;
}

.editable {
    cursor: pointer;
}