{% extends "layout.html" %}

{% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/utils.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/deck_list.css') }}" />
{% endblock %}

{% block body %}
    <div class="col-md-6 col-md-offset-3">
        <table id="deck-list" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Deck Name</th>
                    <th>Colors</th>
                    <th>Number of cards</th>
                    <th>Side</th>
                    <th></th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
        <button id="create-deck-button" class="btn btn-primary" type="button" data-toggle="modal" data-target="#modal-create-deck">Create new deck</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-create-deck" tabindex="-1" role="dialog" aria-labelledby="Create new deck" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Create a new deck</h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <form id="modal-form" role="form">
                        <div class="form-group">
                            <label for="deck-name">Deck name</label>
                            <input id="deck-name" class="form-control" type="text">
                        </div>
                        <div class="text-right">
                            <button id="modal-submit-button" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/deck_list.js') }}"></script>
{% endblock %}
