{% extends "layout.html" %}

{% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/utils.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/cards-view.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/deck_information.css') }}" />
{% endblock %}


{% block body %}
    <div class="col-md-8 col-sm-8 col-xs-8">
        <h2 id="deck-name">{{ name|e }}</h2>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#main">Main Deck</a></li>
            <li><a data-toggle="tab" href="#side">Side Deck</a></li>
            <li><a data-toggle="tab" href="#missing">Missing Cards</a></li>
            <li id="export" class="pull-right"><a href="{{ url_for('export_deck', name=name) }}">Export</a></li>
        </ul>
        <div class="tab-content card-container">
            {% for key in cards.keys() %}
                <div id="{{ key }}" class="row tab-pane {% if key == "main" %}active{% endif %}">
                    {% for card in cards[key] %}
                        <div id="{{ key }}-{{ card['card_id'] }}" data-number="{{ card['number'] }}" class="card col-md-2 col-sm-3 col-xs-4">
                            <div class="card-inner">
                                <img>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="card-details" class="col-md-4 col-sm-4 col-xs-4">
        <h2></h2>
        <div id="card-details-upper" class="container-fluid">
            <div class="row">
                <img id="card-details-img" class="col-md-7">
                <div class="col-md-5">
                    <div id="card-details-upper-right" class="container-fluid"></div>
                </div>

            </div>
        </div>

        <div id="card-details-lower" class="container-fluid"></div>
    </div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/external/withinviewport.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/external/jquery.withinviewport.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/cards-view.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/deck_information.js') }}"></script>
{% endblock %}
