{% extends "layout.html" %}
{% block body %}
    <form method="post" action="{{ url_for('install') }}" role="form">
        <div class="form-group">
            <label for="database_host">Host</label>
            <input type="text" class="form-control" name="database_host" placeholder="Database Host">
        </div>
        <div class="form-group">
            <label for="database_name">Name</label>
            <input type="text" class="form-control" name="database_name" placeholder="Database Name">
        </div>
        <div class="form-group">
            <label for="database_user">User</label>
            <input type="text" class="form-control" name="database_user" placeholder="Database User">
        </div>

        <div class="form-group">
            <label for="database_password">Password</label>
            <input type="password" class="form-control" name="database_password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}
