{% set left_navigation_bar = [
    (url_for('search'), 'Search'),
    (url_for('collection'), 'Collection'),
    (url_for('decks'), 'Decks')
] -%}


{% if not current_user.is_authenticated %}
    {% set right_navigation_bar = [
        (url_for('login'), 'Login')
    ] -%}
{% else %}
    {% set right_navigation_bar = [
        (url_for('parameters'), 'Parameters'),
        (url_for('logout'), 'Logout')
    ] -%}
{% endif %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MTG-Collector</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}" />
	{% block head %}{% endblock %}
    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>
	<nav id="menu" class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ url_for('index') }}">MTG-Collector</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-left">
                    {% for href, caption in left_navigation_bar %}
                        <li{% if caption.lower() == active_page %} class="active"{% endif %}>
                            <a href="{{ href|e }}">{{ caption|e }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% for href, caption in right_navigation_bar %}
                        <li{% if caption.lower() == active_page %} class="active"{% endif %}>
                            <a href="{{ href|e }}">{{ caption|e }}</a>
                        </li>
                    {% endfor %}
				</ul>
			</div>
		</div>
	</nav>

	<div id="content" class="container-fluid">
        <div class="row">
		{% block body %}{% endblock %}
        </div>
	</div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/notify.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/notifier.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
