<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MTG-Collector</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}" />
	{% block head %}{% endblock %}
</head>
<body>
	<nav id="menu" class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ url_for('index') }}">MTG-Collector</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-left">
					<li class="active">
						<a href="{{ url_for('search') }}">Search</a>
					</li>
					<li>
						<a href="{{ url_for('index') }}">Collection</a>
					</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if not current_user.is_authenticated %}
                        <li>
                            <a href="{{ url_for('login') }}">Login</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url_for('parameters') }}">Parameters</a>
                        </li>
                        <li>
                            <a href="{{ url_for('logout') }}">Logout</a>
                        </li>
                    {% endif %}
				</ul>
			</div>
		</div>
	</nav>

	<div id="content" class="container-fluid">
        <div class="row">
		{% block body %}{% endblock %}
        </div>
	</div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/notify.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/notifier.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
