{% macro render_field(field, label_visible=true, autofocus=false) -%}
    {% if field.type != "HiddenField" and field.type != "CSRFTokenField" and label_visible%}
        <div class="form-group{% if field.errors %} has-error{% endif %}" {{ kwargs.pop('class_', '') }}>
            <label for="{{ field.id }}" class="control-label col-sm-3">{{ field.label.text }}</label>
            <div class="col-sm-9">
                {{ field( autofocus=autofocus, class_="form-control", **kwargs) }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{%- endmacro %}


{% macro render_checkbox_field(field) %}
    <div class="form-group">
        <label for="{{ field.id }}" class="control-label">{{ field.label.text }}</label>
        {{ field( autofocus=autofocus, **kwargs) }}
    </div>
{%- endmacro  %}

{% macro render_separator_field(field) %}
    {{ field }}
{%- endmacro %}

{% macro render_inner_form(form) %}
    {% set autofocus=true %}
    {% for field in form %}
        {% if field.type == "BooleanField" %}
            {{ render_checkbox_field(field) }}
        {% elif field.type == "StartSeparatorField" or field.type == "StopSeparatorField" %}
            {{ render_separator_field(field) }}
        {% else %}
            {{ render_field(field, autofocus=autofocus) }}
        {% endif %}
        {% if autofocus and field.type != "CSRFTokenField" %}
            {% set autofocus=false %}
        {% endif %}
    {% endfor %}
{%- endmacro %}


{%  macro render_form(form, id_, method="post", action=".", action_text="Submit",
                      _class="", btn_class="btn btn-primary", submit_id="button_submit") -%}
    <form id="{{ id_ }}" method="{{ method }}" action="{{ action }}" class="{{  _class }}">
        <div class="row">
            {% if method != "get" %}
                {{ form.hidden_tag() }}
            {% endif %}

            {{ render_inner_form(form) }}
        </div>
        <div class="row">
            <div class="text-right">
                <button type="submit" id="{{ submit_id }}" class="{{ btn_class }}">{{ action_text }}</button>
            </div>
        </div>
    </form>
{%- endmacro %}
