{% extends "layout.html" %}
{% from "macros.html" import render_form %}

{% block body %}
    {% if admin %}
        <ul class="nav nat-tabs">
            <li class="active"><a data-toggle="tab" href="#information">Personal Information</a></li>
            <li><a data-toggle="tab" href="#admin">Administration</a></li>
        </ul>
        <div class="tab-content">
    {% endif %}
    <div class="row tab-pane active" id="information">
        <div class="col-md-3 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">User information</h3>
                </div>
                {{ render_form(form, id_="change-info", action=url_for("parameters"), method="POST") }}
            </div>
        </div>
        <div class="col-md3">
            <a href="{{ url_for("download_collection") }}" role="button" class="btn btn-primary">Export Collection</a>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#import-modal">Import Collection</button>
        </div>
    </div>

    {% if admin %}
        </div>
    {% endif %}

    <div class="modal fade" id="import-modal" tabindex="-1" role="dialog" aria-labelledby="Import deck" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Import a deck</h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    {{ render_form(import_form, id_="import-form", action="/api/import", method="POST", enctype="multipart/form-data") }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
